.answerBtn {
    margin: 1rem;
}
.answer img{
    width: 50px;
    margin-right: 2rem;
    animation: grow .5s forwards;
}

#favorite {
    width: 30px;
    margin-right: auto;
}

#favorite:hover {
    cursor: pointer;
}
@keyframes grow {
    from {
        scale: 0;
    }
    to {
        scale: 1.5;
    }
}