.dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;}
  
  .dashlist{
    margin: 1rem;
    padding: .5rem 1rem;
    border: #f9f9f9 1px solid;
    border-radius: 5px;
    height: 2.5rem;
  }
  
  .dashlist:hover {
    background-color: #1d1329;
    cursor: pointer;
  }
  
.dashFavList {
    height: auto;
    height: calc-size(auto);
    display: inline;
    justify-content: center;
    text-align: left;
  }

.editList {
    margin-top: 2rem;
    height: auto;
    display: inline;
  } 
  
.dashFavList {
    margin-top: 1rem;
}
  