.edit {
    height: 0;
    transition: height 1s ease-in-out;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: left;
}

.edit.show {
    height: auto;
    height: calc-size(auto);
}

.title {
    margin-top: 0.5rem;
    background-color: rgba(27, 28, 29, 80%);
    text-align: left;
    font-size: large;
}

.edit button, .addForm button {
    padding: .3rem .5rem;
    margin: .3rem;
    margin-left: 5rem;
    color: antiquewhite;
    background-color: rgba(70, 17, 120, 80%);
}

.edit label {
    margin-right: 5rem;
}
.edit input[type='text'] {
    width: 300px;
    padding: .3rem;
    margin: .3rem;
    border-radius: 4px;
    background-color: rgb(59, 58, 58);
}

.edit textarea {
    width: 300px;
    height: 25px;
    margin-left: 2rem;
}

.edit textarea:focus {
    height: 100px;
}

#radioT, #radioF {
    width: 1rem;
}

.edit input[type='radio'] {
    margin: 0;
    margin-right: 0.5rem;
    vertical-align: middle;
    width: 1rem;
    padding: 0;
}

.edit label,.addForm label {
    margin-right: 1rem;
}

.addQ {
    width: 300px;
    margin-top: 2rem;
    text-align: left;
    place-items: center;
}


.favList {
    margin-top: 1rem;
    list-style: square;
}