.edit {
    height: 0;
    transition: height 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: left;
}

.edit.show {
    height: auto;
    height: calc-size(auto);
}

.title {
    background-color: rgba(27, 28, 29, 80%);
    text-align: left;
    font-size: large;
}

.edit button {
    padding: .3rem .5rem;
    margin: .3rem;
}

.edit input {
    /* width: 300px; */
    padding: .3rem;
    margin: .3rem;
    border-radius: 4px;
}

.edit input:focus {
    border-color: blueviolet;
}